<a href="https://colab.research.google.com/github/JakeOh/20230228_itwill_java140_lab_python/blob/main/py02_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 자료 타입(data type)

*  숫자 타입
    *  `int`: 정수
    *  `float`: 실수
*  문자열 타입
    *  `str`
*  논리 타입
    *  `bool`: True/False
*  객체 타입

파이썬에서는 변수를 선언할 때 자료 타입을 명시하지 않음.

변수의 자료 타입은 코드가 실행 때 결정됨.

In [1]:
pi = 3.14
print(pi)
type(pi)  # print(type(pi))

3.14

float

## 명시적 타입 변환

*  `int(arg)`: arg를 정수 타입으로 변환해서 리턴.
*  `float(arg)`: arg를 실수 타입으로 변환해서 리턴.
*  `str(arg)`: arg를 문자열로 변환해서 리턴.

In [2]:
# Colab 노트북에서 콘솔 입력:
n = input('정수 입력>>> ')

정수 입력>>> 123

In [3]:
type(n)

str

In [5]:
int(n) + 1  # 123 + 1

124

In [6]:
n + str(1)  # '123' + '1'

'1231'

# 산술 연산자

`+, -, *, /, //, %, **`

*  `/`: 소수점까지 계산하는 나눗셈.
*  `//`: 나눈 몫.
*  `%`: 나눈 나머지.
*  `**`: 거듭제곱.

In [7]:
10 / 3

3.3333333333333335

In [8]:
10 // 3

3

In [9]:
10 % 3

1

In [10]:
10 ** 3

1000

# 비교 연산자, 논리 연산자

*  비교 연산자: `==, !=, >, >=, <, <=`
*  논리 연산자: `and, or, not`

In [11]:
x = 100
(x > 50) and (x < 150)

True

In [12]:
50 < x < 150

True