<a href="https://colab.research.google.com/github/JakeOh/20230228_itwill_java140_lab_python/blob/main/py06_tuple_set_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# tuple(튜플)

*  하나의 변수에 여러 개의 값들을 저장하기 위한 자료 타입.
*  저장된 원소(아이템)들을 변경할 수 없는 리스트.
    *  `append()`, `remove()`와 같은 원소를 변경하는 메서드(기능)은 제공하지 않음.
*  인덱스 기반 자료 타입.
    *  indexing, slicing
    *  음수 인덱스도 사용 가능

In [1]:
# 숫자들을 저장하는 튜플
numbers = (1, 2, 10, 20, 100, 200)
numbers

(1, 2, 10, 20, 100, 200)

In [2]:
type(numbers)

tuple

indexing: 인덱스를 사용해서 원소 1개를 참조하는 방법

In [3]:
numbers[0]  # 튜플의 첫번째 원소

1

In [4]:
numbers[-1]  # 튜플의 마지막 원소

200

slicing: 자르기. 부분집합.

In [5]:
numbers[:3]  # 튜플에서 첫 3개의 원소들을 잘라내기. [start, end) 범위.

(1, 2, 10)

In [6]:
numbers[-3:]  # 튜플에서 마지막 3개의 원소들을 잘라내기.

(20, 100, 200)

## decomposition(분해)

In [7]:
odds = (1, 3, 5)
a = odds[0]
b = odds[1]
c = odds[2]
print(a, b, c)

1 3 5

In [8]:
x, y, z = (1, 3, 5)
print(x, y, z)

1 3 5

## tuple & for

In [9]:
for x in odds:
    print(x)

1
3
5

# 2차원 리스트/튜플

In [10]:
numbers = [
    [1, 2, 3],
    [4, 5, 6]
]
numbers

[[1, 2, 3], [4, 5, 6]]

In [11]:
len(numbers)  # 2차원 리스트 numbers의 원소 개수

2

In [12]:
numbers[0]

[1, 2, 3]

In [13]:
numbers[0][0]

1

Ex.
1. 2x2 모양의 [0, 10) 범위의 정수 난수들을 저장하는 2차원 리스트 array1을 만드고 출력하세요.
1. 2x2 모양의 [0, 10) 범위의 정수 난수들을 저장하는 2차원 리스트 array2을 만드고 출력하세요.
1. array1과 array2의 같은 인덱스의 원소들끼리의 덧셈 결과를 저장하는 2차원 리스트 add를 만들고 출력하세요.

In [14]:
import random