<a href="https://colab.research.google.com/github/JakeOh/20230228_itwill_java140_lab_python/blob/main/py08_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1급 객체(first-class object)로서의 함수

*  함수는 변수에 할당할 수 있음.
*  함수의 파라미터에 아규먼트로 다른 함수를 전달할 수 있음.
    *  함수는 아규먼트가 될 수 있음.
*  함수는 다른 함수의 리턴 값이 될 수 있음.
*  함수 내부에서 다른 함수를 정의할 수 있음.

## 함수를 변수에 할당

In [1]:
def twice(x):
    return 2 * x

In [2]:
result = twice(100)  # 함수 호출 결과(리턴 값)을 변수에 저장.
result

200

In [3]:
double = twice  # 함수 (객체)를 변수에 저장.
double

In [4]:
double(12)

24

## 함수를 아규먼트로 사용

In [5]:
def calculate(x, y, fn):
    result = fn(x, y)
    return result

In [6]:
def plus(x, y):
    return x + y

In [7]:
calculate(1, 2, plus)

3

In [8]:
def minus(x, y):
    return x - y

In [9]:
calculate(1, 2, minus)

-1

## 내부 함수, 함수 리턴

In [10]:
def make_increment(n):  # 외부 함수
    def add_n(x):  # 내부 함수. 지역 함수.
        return x + n  # 내부 함수는 외부 함수의 지역 변수(파라미터 포함)들을 사용할 수 있음.

    return add_n

In [11]:
increase_by_2 = make_increment(2)
increase_by_2

In [12]:
increase_by_2(100)

102

In [13]:
increase_by_10 = make_increment(10)
increase_by_10(100)

110

In [15]:
make_increment(5)(100)

105

# Lambda expression(람다 표현식)

```
lambda param1, param2, ...: expression
```

*  이름이 없는 함수 표기법
*  함수 이름 없이 함수의 파라미터 선언과 반환 값 또는 반환 식으로만 함수를 정의하는 방법.
*  파이썬은 2줄 이상의 문장이 포함된 람다 표현식 문법을 제공하지 않음.

In [16]:
minus = lambda x, y: x - y
minus

In [17]:
minus(1, 2)

-1

In [18]:
calculate(2, 3, lambda x, y: x * y)

6

In [20]:
calculate(2, 3, lambda x, y: x / y)

0.6666666666666666

Ex 1. calculate 함수에 2개의 숫자 중에서 더 큰 수를 리턴하는 람다 표현식을 전달

In [22]:
calculate(1, 2, lambda x, y: x if x > y else y)

2

Ex 2. calculate 함수에, 첫번째 아규먼트가 크면 True 그렇지 않으면 False를 리턴하는 람다 표현식을 전달

In [23]:
calculate(1, 2, lambda x, y: True if x > y else False)

False

In [24]:
calculate(2, 1, lambda x, y: x > y)

True

## filter 함수

조건에 맞는 원소들만 선택.

In [ ]:
def my_filter(iterable, fn):
    """
    리스트 iterable의 원소들 중에서 함수 fn의 호출 결과 값이 True인 원소들로만
    이루어진 리스트를 리턴.

    Param iterable: 리스트.
    Param fn: 아규먼트가 1개이고, True/False를 리턴하는 함수.
    """
    pass